numpy==2.2.6
pandas==2.3.3
matplotlib==3.10.8
tensorflow==2.20.0
scikit-learn==1.7.2
yfinance==1.0
mplfinance==0.12.10b0
pandas-datareader==0.10.0
statsmodels==0.14.6
requests==2.32.5
beautifulsoup4==4.14.3
lxml==6.0.2
vaderSentiment==3.3.2
transformers==5.5.0
torch==2.11.0
notebook==7.5.2
ipykernel==7.1.0